@charset "UTF-8";
/* line 17, ../sass/partials/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 33, ../sass/partials/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 46, ../sass/partials/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 54, ../sass/partials/_normalize.scss */
[hidden] {
  display: none;
}

/* line 67, ../sass/partials/_normalize.scss */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 83, ../sass/partials/_normalize.scss */
a {
  text-decoration: none;
}
/* line 90, ../sass/partials/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* line 102, ../sass/partials/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 108, ../sass/partials/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 121, ../sass/partials/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 127, ../sass/partials/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 143, ../sass/partials/_normalize.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 156, ../sass/partials/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 174, ../sass/partials/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 180, ../sass/partials/_normalize.scss */
small {
  font-size: 75%;
}

/* line 187, ../sass/partials/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 195, ../sass/partials/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 199, ../sass/partials/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 236, ../sass/partials/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  padding: 0;
}

/* line 254, ../sass/partials/_normalize.scss */
img {
  border: 0;
}

/* line 263, ../sass/partials/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 273, ../sass/partials/_normalize.scss */
figure {
  margin: 0;
}

/* line 292, ../sass/partials/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

/* line 305, ../sass/partials/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

/* line 319, ../sass/partials/_normalize.scss */
button,
input {
  line-height: normal;
}

/* line 329, ../sass/partials/_normalize.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/* line 342, ../sass/partials/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 352, ../sass/partials/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 366, ../sass/partials/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 371, ../sass/partials/_normalize.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 380, ../sass/partials/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 389, ../sass/partials/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 400, ../sass/partials/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*!
 * @名称：base.css
 * @功能：1、重设浏览器默认样式
 *       2、设置通用原子类
 */
/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
/* line 8, ../sass/partials/_base.scss */
* {
  box-sizing: border-box;
}

/* line 11, ../sass/partials/_base.scss */
html {
  background: white;
  color: black;
  font-family: "Microsoft YaHei";
}

/* line 16, ../sass/partials/_base.scss */
body {
  font-size: 16px;
  font-family: "Microsoft YaHei";
}

/* 内外边距通常让各个浏览器样式的表现位置不同 */
/* line 21, ../sass/partials/_base.scss */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
}

/* 要注意表单元素并不继承父级 font 的问题 */
/* line 26, ../sass/partials/_base.scss */
body, button, input, select, textarea {
  font-family: "Microsoft YaHei" !important;
}

/* line 29, ../sass/partials/_base.scss */
input, select, textarea {
  font-size: 100%;
}

/* 去掉 table cell 的边距并让其边重合 */
/* line 33, ../sass/partials/_base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ie bug：th 不继承 text-align */
/* line 38, ../sass/partials/_base.scss */
th {
  text-align: inherit;
}

/* 去除默认边框 */
/* line 42, ../sass/partials/_base.scss */
fieldset, img {
  border: none;
}

/* ie6 7 8(q) bug 显示为行内表现 */
/* line 46, ../sass/partials/_base.scss */
iframe {
  display: block;
}

/* 去掉列表前的标识，li 会继承 */
/* line 50, ../sass/partials/_base.scss */
ol, ul {
  list-style: none;
}

/* 对齐是排版最重要的因素，别让什么都居中 */
/* line 54, ../sass/partials/_base.scss */
caption, th {
  text-align: left;
}

/* 来自yahoo，让标题都自定义，适应多个系统应用 */
/* line 58, ../sass/partials/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

/* 统一上标和下标 */
/* line 63, ../sass/partials/_base.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 69, ../sass/partials/_base.scss */
sup {
  top: -0.5em;
}

/* line 72, ../sass/partials/_base.scss */
sub {
  bottom: -0.25em;
}

/* 默认不显示下划线，保持页面简洁 */
/* line 76, ../sass/partials/_base.scss */
ins, a {
  text-decoration: none;
}

/* 去除 ie6 & ie7 焦点点状线 */
/* line 80, ../sass/partials/_base.scss */
a:focus, *:focus {
  outline: none;
}

/* 清除浮动 */
/* line 84, ../sass/partials/_base.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 88, ../sass/partials/_base.scss */
.clearfix:after {
  clear: both;
  overflow: hidden;
}

/* line 92, ../sass/partials/_base.scss */
.clearfix {
  zoom: 1;
  /* for ie6 & ie7 */
}

/* line 95, ../sass/partials/_base.scss */
.clear {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
}

/* 设置显示和隐藏，通常用来与 js 配合 */
/* line 104, ../sass/partials/_base.scss */
.hide {
  display: none;
}

/* line 107, ../sass/partials/_base.scss */
.block {
  display: block;
}

/* line 8, ../sass/partials/_layout.scss */
.xzh-container {
  width: 100%;
}

/* line 11, ../sass/partials/_layout.scss */
[class^='xzh-inner'] {
  *zoom: 1;
  max-width: 71em;
  _width: 71em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
[class^='xzh-inner']:after {
  content: "";
  display: table;
  clear: both;
}

/* line 14, ../sass/partials/_layout.scss */
.xzh-top-title {
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #39bd8c;
  color: #fff;
  text-align: center;
  font-size: 1.2em;
}
/* line 22, ../sass/partials/_layout.scss */
.xzh-top-title .xzh-back-history {
  width: 1.5em;
  float: left;
}
/* line 25, ../sass/partials/_layout.scss */
.xzh-top-title .xzh-back-history img {
  width: 100%;
}

/* line 30, ../sass/partials/_layout.scss */
.xzh-footer-menue {
  position: fixed;
  width: 100%;
  padding-top: .2em;
  padding-bottom: .2em;
  z-index: 990;
  bottom: 0;
  background-color: #fff;
  /* .xzh-footer-menue-grid+.xzh-footer-menue-grid{
  	margin-left:3em;
  } */
}
/* line 41, ../sass/partials/_layout.scss */
.xzh-footer-menue .xzh-inner-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* line 46, ../sass/partials/_layout.scss */
.xzh-footer-menue .xzh-footer-menue-grid {
  width: 15%;
  color: #b9b9b9;
  text-align: center;
}
/* line 51, ../sass/partials/_layout.scss */
.xzh-footer-menue .xzh-footer-menue-grid-active {
  color: #39bd8c;
}
/* line 57, ../sass/partials/_layout.scss */
.xzh-footer-menue img {
  width: 2em;
}
/* line 60, ../sass/partials/_layout.scss */
.xzh-footer-menue .xzh-footer-menue-grid-name {
  text-align: center;
  font-size: .7em;
}

/* line 65, ../sass/partials/_layout.scss */
.xzh-page-cover-ctn {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 999;
  display: none;
}
/* line 72, ../sass/partials/_layout.scss */
.xzh-page-cover-ctn .xzh-page-cover {
  width: 100%;
  height: 100vh;
  background-color: #000;
  opacity: 0.6;
}
/* line 78, ../sass/partials/_layout.scss */
.xzh-page-cover-ctn .xzh-page-cover-content {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 2em;
  border-radius: 10px;
}

/* line 1, ../sass/partials/_inputstyle.scss */
.xzh-reg-container .xzh-reg-form-ctn .xzh-reg-phone, .xzh-reg-container .xzh-reg-form-ctn .xzh-reg-check, .xzh-reg-container .xzh-reg-form-ctn .xzh-reg-password, .xzh-login-container .xzh-log-form-ctn .xzh-log-phone, .xzh-login-container .xzh-log-form-ctn .xzh-log-password {
  width: 90%;
  height: 3em;
  margin: 0 auto;
  margin-top: 1.5em;
  border: 1px solid #39bd8c;
  border-radius: 2em;
}

/* line 9, ../sass/partials/_inputstyle.scss */
.xzh-reg-container .xzh-reg-form-ctn .xzh-reg-btn, .xzh-login-container .xzh-log-form-ctn .xzh-log-btn, .xzh-bail-container .xzh-bail-pay-btn, .xzh-my-cabinet .xzh-cabinet-buy-more, .xzh-pay-money-ctn .xzh-pay-money-confirm-btn, .xzh-balance-ctn .xzh-balance-recharge, .xzh-balance-ctn .xzh-balance-cash, .xzh-feedback-ctn .xzh-feedback-submit {
  width: 90%;
  height: 48px;
  margin: 0 auto;
  margin-top: 18px;
  background-image: linear-gradient(to right, #57d9d7 100px, #39bd8c 200px);
  color: #fff;
  text-align: center;
  border-radius: 32px;
  font-size: 22px;
  line-height: 48px;
  display: block;
}

/* line 22, ../sass/partials/_inputstyle.scss */
.xzh-footer-menue::after, .xzh-my-cabinet .xzh-cabinet-grid .xzh-cabinet-grid-price-ctn::after, .xzh-used-time-container .xzh-used-time-bed-box::after, .xzh-used-time-container .xzh-used-time-bed-box-right::after, .xzh-cart-container .xzh-cart-grid-editor:after, .xzh-cart-container .xzh-cart-grid::after, .xzh-cart-container .xzh-cart-grid-detail-num-editor:after, .xzh-personal-container .xzh-personal-menue-top::after, .xzh-personal-container .xzh-personal-menue-middle::after, .xzh-personal-container .xzh-personal-menue-middle-top::after, .xzh-personal-container .xzh-personal-menue-bottom-grid::after, .xzh-mall-container .xzh-top-title::after, .xzh-mall-container .xzh-mall-menue-ctn::after, .xzh-mall-container .xzh-mall-goods-price::after, .xzh-menue-cabinet .xzh-menue-cabinet-add:after, .xzh-menue-cabinet .xzh-menue-cabinet-weather-degree:after, .xzh-menue-cabinet .xzh-menue-cabinet-weather-detail:after, .xzh-menue-cabinet .xzh-menue-cabinet-equipment:after, .xzh-delivery-address-ctn .xzh-delivery-address-grid:after, .xzh-delivery-address-ctn .xzh-delivery-address-detail:after, .xzh-delivery-address-ctn .xzh-delivery-address-editor:after, .xzh-notification-ctn .xzh-notification-grid:after, .xzh-personal-information-ctn .xzh-personal-information-grid:after, .xzh-personal-orders-ctn .xzh-personal-orders-grid:after, .xzh-personal-orders-ctn .xzh-personal-orders-grid-top:after, .xzh-personal-orders-ctn .xzh-personal-orders-grid-detail:after, .xzh-personal-orders-ctn .xzh-personal-orders-grid-middle:after, .xzh-goods-type-ctn .xzh-goods-type-content:after, .xzh-goods-type-ctn .xzh-goods-type-content-right:after, .xzh-goods-type-ctn .xzh-goods-type-grid-price:after, .xzh-mall-product-list-ctn .xzh-mall-product-price::after {
  content: "";
  display: table;
  clear: both;
}

/* line 1, ../sass/partials/_modules.scss */
.xzh-reg-container {
  width: 100%;
  background-image: url('../images/regist_bg.png?1522658854');
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 4em;
}
/* line 10, ../sass/partials/_modules.scss */
.xzh-reg-container .xzh-reg-logo {
  width: 38%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
/* line 15, ../sass/partials/_modules.scss */
.xzh-reg-container .xzh-reg-logo img {
  width: 100%;
}
/* line 20, ../sass/partials/_modules.scss */
.xzh-reg-container .xzh-reg-form-ctn legend {
  display: none;
}
/* line 23, ../sass/partials/_modules.scss */
.xzh-reg-container .xzh-reg-form-ctn input {
  border: 0;
  height: 2.8em;
  outline: 0;
  width: 65%;
  padding-left: 1em;
}
/* line 30, ../sass/partials/_modules.scss */
.xzh-reg-container .xzh-reg-form-ctn .xzh-reg-input-icon {
  width: 2em;
  height: 2em;
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 1em;
  margin-top: .5em;
}
/* line 39, ../sass/partials/_modules.scss */
.xzh-reg-container .xzh-reg-form-ctn .xzh-reg-input-icon-phone {
  background-image: url('../images/phone_icon.png?1522658681');
}
/* line 42, ../sass/partials/_modules.scss */
.xzh-reg-container .xzh-reg-form-ctn .xzh-reg-input-icon-pwd {
  background-image: url('../images/password_icon.png?1522658686');
}
/* line 51, ../sass/partials/_modules.scss */
.xzh-reg-container .xzh-reg-form-ctn .xzh-reg-check-input {
  border-radius: 2em 0 0 2em;
}
/* line 54, ../sass/partials/_modules.scss */
.xzh-reg-container .xzh-reg-form-ctn .xzh-send-check-num {
  float: right;
  border-radius: 0 2em 2em 0;
  background-color: #39bd8c;
  width: 34%;
  height: 2.9em;
  color: #fff;
  line-height: 3em;
  text-align: center;
}
/* line 67, ../sass/partials/_modules.scss */
.xzh-reg-container .xzh-reg-form-ctn .xzh-reg-service-agree {
  text-align: center;
  color: #b9b9b9;
  margin-top: 2em;
}
/* line 72, ../sass/partials/_modules.scss */
.xzh-reg-container .xzh-reg-form-ctn a {
  color: #39bd8c;
}
/* line 78, ../sass/partials/_modules.scss */
.xzh-reg-container .xzh-reg-form-ctn .xzh-reg-log {
  color: #b9b9b9;
  text-align: center;
  margin-top: 1em;
}

/* line 85, ../sass/partials/_modules.scss */
.xzh-another-log {
  padding-top: 3em;
}
/* line 87, ../sass/partials/_modules.scss */
.xzh-another-log .xzh-another-log-title {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: #b9b9b9;
}
/* line 93, ../sass/partials/_modules.scss */
.xzh-another-log .xzh-another-log-title-txt {
  position: absolute;
  width: 8em;
  text-align: center;
  color: #b9b9b9;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 103, ../sass/partials/_modules.scss */
.xzh-another-log .xzh-another-log-icon-ctn {
  width: 60%;
  height: 10em;
  margin: 0 auto;
  margin-top: 1em;
}
/* line 108, ../sass/partials/_modules.scss */
.xzh-another-log .xzh-another-log-icon-ctn::after {
  content: "";
  display: table;
  clear: both;
}
/* line 114, ../sass/partials/_modules.scss */
.xzh-another-log .xzh-another-log-icon {
  margin-top: 1.5em;
  float: left;
}
/* line 118, ../sass/partials/_modules.scss */
.xzh-another-log .xzh-another-log-icon + .xzh-another-log-icon {
  float: right;
}

/* line 122, ../sass/partials/_modules.scss */
.xzh-login-container {
  width: 100%;
  background-image: url('../images/regist_bg.png?1522658854');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 4em;
}
/* line 128, ../sass/partials/_modules.scss */
.xzh-login-container .xzh-log-logo {
  width: 38%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
/* line 133, ../sass/partials/_modules.scss */
.xzh-login-container .xzh-log-logo img {
  width: 100%;
}
/* line 138, ../sass/partials/_modules.scss */
.xzh-login-container .xzh-log-form-ctn legend {
  display: none;
}
/* line 141, ../sass/partials/_modules.scss */
.xzh-login-container .xzh-log-form-ctn input {
  border: 0;
  height: 2.8em;
  outline: 0;
  width: 65%;
  padding-left: 1em;
}
/* line 148, ../sass/partials/_modules.scss */
.xzh-login-container .xzh-log-form-ctn a {
  color: #b9b9b9;
}
/* line 151, ../sass/partials/_modules.scss */
.xzh-login-container .xzh-log-form-ctn .xzh-log-input-icon {
  width: 2em;
  height: 2em;
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 1em;
  margin-top: .5em;
}
/* line 160, ../sass/partials/_modules.scss */
.xzh-login-container .xzh-log-form-ctn .xzh-log-input-icon-phone {
  background-image: url('../images/phone_icon.png?1522658681');
}
/* line 163, ../sass/partials/_modules.scss */
.xzh-login-container .xzh-log-form-ctn .xzh-log-input-icon-pwd {
  background-image: url('../images/password_icon.png?1522658686');
}
/* line 172, ../sass/partials/_modules.scss */
.xzh-login-container .xzh-log-form-ctn .xzh-log-btn {
  margin-top: 60px;
}
/* line 176, ../sass/partials/_modules.scss */
.xzh-login-container .xzh-log-form-ctn .xzh-log-forget-pwd {
  text-align: center;
  color: #b9b9b9;
  margin-top: 2em;
}

/* line 183, ../sass/partials/_modules.scss */
.xzh-bail-container {
  padding-bottom: 5em;
}
/* line 185, ../sass/partials/_modules.scss */
.xzh-bail-container .xzh-bail-top {
  width: 100%;
  height: 14em;
  background-image: linear-gradient(to top, #57d9d7 100px, #39bd8c 200px);
  padding-top: 3em;
}
/* line 191, ../sass/partials/_modules.scss */
.xzh-bail-container .xzh-bail-top-txt {
  color: #fff;
  text-align: center;
  font-size: .9em;
}
/* line 196, ../sass/partials/_modules.scss */
.xzh-bail-container .xzh-bail-top-num-ctn {
  margin: 0 auto;
  margin-top: 1em;
  color: #fff;
  text-align: center;
}
/* line 201, ../sass/partials/_modules.scss */
.xzh-bail-container .xzh-bail-top-num-ctn::after {
  content: "";
  display: table;
  clear: both;
}
/* line 207, ../sass/partials/_modules.scss */
.xzh-bail-container .xzh-bail-top-num {
  font-size: 3em;
  font-weight: bold;
}
/* line 212, ../sass/partials/_modules.scss */
.xzh-bail-container .xzh-bail-top-num-rmb {
  height: 3em;
  padding-top: 2em;
}
/* line 216, ../sass/partials/_modules.scss */
.xzh-bail-container .xzh-bail-top-txt-des {
  margin-top: 2em;
}
/* line 219, ../sass/partials/_modules.scss */
.xzh-bail-container .xzh-bail-pay-ways {
  padding: 1.2em;
  border-bottom: 1px solid #DCDCDC;
}
/* line 222, ../sass/partials/_modules.scss */
.xzh-bail-container .xzh-bail-pay-ways::after {
  content: "";
  display: table;
  clear: both;
}
/* line 228, ../sass/partials/_modules.scss */
.xzh-bail-container .xzh-bail-pay-ways-icon {
  float: left;
}
/* line 231, ../sass/partials/_modules.scss */
.xzh-bail-container .xzh-bail-pay-ways-icon-name {
  float: left;
  margin-left: 1em;
  padding-top: .5em;
}
/* line 236, ../sass/partials/_modules.scss */
.xzh-bail-container .xzh-bail-pay-ways-icon-name-title {
  font-size: 1.1em;
  color: #000;
}
/* line 240, ../sass/partials/_modules.scss */
.xzh-bail-container .xzh-bail-pay-ways-icon-name-desc {
  font-size: .9em;
  margin-top: .9em;
  color: #b9b9b9;
}
/* line 245, ../sass/partials/_modules.scss */
.xzh-bail-container .xzh-bail-pay-ways-icon-name-check-icon {
  float: right;
  padding-top: .6em;
}

/* line 253, ../sass/partials/_modules.scss */
.xzh-my-cabinet {
  padding-bottom: 5em;
}
/* line 255, ../sass/partials/_modules.scss */
.xzh-my-cabinet .xzh-cabinet-grid {
  width: 48%;
  float: left;
  margin-top: 1em;
  padding-bottom: .5em;
  box-shadow: 2px 2px 2px 2px #CCC;
}
/* line 261, ../sass/partials/_modules.scss */
.xzh-my-cabinet .xzh-cabinet-grid img {
  width: 100%;
}
/* line 264, ../sass/partials/_modules.scss */
.xzh-my-cabinet .xzh-cabinet-grid .xzh-cabinet-grid-name-ctn {
  padding: .5em;
}
/* line 266, ../sass/partials/_modules.scss */
.xzh-my-cabinet .xzh-cabinet-grid .xzh-cabinet-grid-name-ctn::after {
  content: "";
  display: table;
  clear: both;
}
/* line 272, ../sass/partials/_modules.scss */
.xzh-my-cabinet .xzh-cabinet-grid .xzh-cabinet-grid-name {
  float: left;
}
/* line 275, ../sass/partials/_modules.scss */
.xzh-my-cabinet .xzh-cabinet-grid .xzh-cabinet-grid-name-pay {
  float: right;
  width: 5em;
  height: 1.2em;
  line-height: 1.2em;
  background-color: #39bd8c;
  border-radius: 30px;
  text-align: center;
  color: #fff;
}
/* line 285, ../sass/partials/_modules.scss */
.xzh-my-cabinet .xzh-cabinet-grid .xzh-cabinet-grid-price-ctn {
  padding: .5em;
}
/* line 291, ../sass/partials/_modules.scss */
.xzh-my-cabinet .xzh-cabinet-grid .xzh-cabinet-grid-price-market {
  color: #b9b9b9;
}
/* line 294, ../sass/partials/_modules.scss */
.xzh-my-cabinet .xzh-cabinet-grid .xzh-cabinet-grid-price-current {
  color: #fa0029;
}
/* line 298, ../sass/partials/_modules.scss */
.xzh-my-cabinet .xzh-cabinet-grid:nth-child(even) {
  margin-left: .5em;
}
/* line 301, ../sass/partials/_modules.scss */
.xzh-my-cabinet .xzh-cabinet-buy-more {
  width: 80%;
}

/* line 306, ../sass/partials/_modules.scss */
.xzh-cabinet-pay-caution {
  width: 5em;
  height: 5em;
  margin: 0 auto;
  background-color: #f86227;
  box-shadow: 0 0 3px 3px #fa8658;
  color: #fff;
  text-align: center;
  line-height: 5em;
  border-radius: 50%;
}

/* line 317, ../sass/partials/_modules.scss */
.xzh-cabinet-pay-caution-txt {
  color: #39bd8c;
  margin-top: 2em;
  text-align: center;
}

/* line 323, ../sass/partials/_modules.scss */
.xzh-used-time-container {
  background-image: linear-gradient(to top, #57d9d7 100px, #39bd8c 400px);
  padding-bottom: 2em;
}
/* line 326, ../sass/partials/_modules.scss */
.xzh-used-time-container .xzh-inner-container {
  padding-top: 3em;
  padding-bottom: 5em;
}
/* line 330, ../sass/partials/_modules.scss */
.xzh-used-time-container .xzh-used-time-txt {
  width: 100%;
  margin: 0 auto;
  color: #fff;
  height: 3em;
  line-height: 3em;
  text-align: center;
}
/* line 337, ../sass/partials/_modules.scss */
.xzh-used-time-container .xzh-used-time-txt img {
  width: 2em;
  vertical-align: middle;
}
/* line 342, ../sass/partials/_modules.scss */
.xzh-used-time-container .xzh-used-time-num {
  margin-top: .5em;
  color: #fff;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}
/* line 349, ../sass/partials/_modules.scss */
.xzh-used-time-container .xzh-used-time-bed-box {
  width: 60%;
  height: 8em;
  overflow-x: hidden;
  margin: 0 auto;
  margin-top: 1em;
  position: relative;
}
/* line 360, ../sass/partials/_modules.scss */
.xzh-used-time-container .xzh-used-time-bed-box-left {
  position: absolute;
  top: 0;
  left: 6%;
  width: 68%;
}
/* line 366, ../sass/partials/_modules.scss */
.xzh-used-time-container .xzh-used-time-bed-box-left-arrow {
  text-align: center;
  animation: toLeft 1.5s ease-in-out infinite running 0s both normal;
}
@keyframes toLeft {
  0% {
    transform: translateX(0px);
  }
  30% {
    transform: translateX(6px);
  }
  60% {
    transform: translateX(0px);
  }
  90% {
    transform: translateX(-6px);
  }
  100% {
    transform: translateX(0px);
  }
}
/* line 388, ../sass/partials/_modules.scss */
.xzh-used-time-container .xzh-used-time-bed-box-left-bed {
  width: 100%;
  height: 3em;
  background-color: #25a5a3;
  position: relative;
  border-left: 2px solid #fff;
}
/* line 394, ../sass/partials/_modules.scss */
.xzh-used-time-container .xzh-used-time-bed-box-left-bed::before {
  content: "";
  position: absolute;
  width: .8em;
  height: 4em;
  top: -.5em;
  left: -.9em;
  background-color: #fff;
}
/* line 403, ../sass/partials/_modules.scss */
.xzh-used-time-container .xzh-used-time-bed-box-left-bed::after {
  content: "";
  position: absolute;
  width: .8em;
  height: 3em;
  top: 0;
  right: .5em;
  background-color: #fff;
}
/* line 413, ../sass/partials/_modules.scss */
.xzh-used-time-container .xzh-used-time-bed-box-right {
  position: absolute;
  width: 26%;
  right: 0;
}
/* line 421, ../sass/partials/_modules.scss */
.xzh-used-time-container .xzh-used-time-bed-box-left-bedstand {
  width: 100%;
  height: 8em;
  background-color: #fff;
}
/* line 426, ../sass/partials/_modules.scss */
.xzh-used-time-container .xzh-used-time-txt-money {
  font-size: 3em;
  font-weight: bold;
  color: #fff;
}

/* line 434, ../sass/partials/_modules.scss */
.xzh-pay-money-ctn .xzh-pay-money-bg {
  width: 100%;
  margin-top: 1.5em;
  background-image: url('../images/pay_money_bg.jpg?1522719163');
  background-size: cover;
  padding-bottom: 3em;
}
/* line 441, ../sass/partials/_modules.scss */
.xzh-pay-money-ctn .xzh-pay-money {
  width: 90%;
  margin: 0 auto;
  padding-top: 3em;
}
/* line 446, ../sass/partials/_modules.scss */
.xzh-pay-money-ctn .xzh-pay-money-txt-ctn {
  width: 100%;
  height: 1px;
  background-color: #b9b9b9;
  position: relative;
}
/* line 452, ../sass/partials/_modules.scss */
.xzh-pay-money-ctn .xzh-pay-mony-txt {
  width: 8em;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
/* line 461, ../sass/partials/_modules.scss */
.xzh-pay-money-ctn .xzh-pay-money-num-ctn {
  margin-top: 3em;
  text-align: center;
}
/* line 465, ../sass/partials/_modules.scss */
.xzh-pay-money-ctn .xzh-pay-money-num {
  font-size: 2.5em;
  font-weight: bold;
}
/* line 469, ../sass/partials/_modules.scss */
.xzh-pay-money-ctn .xzh-pay-money-tip {
  margin-top: 1.5em;
  text-align: center;
  color: #b9b9b9;
  font-size: .8em;
}

/* line 481, ../sass/partials/_modules.scss */
.xzh-cart-container .xzh-top-title {
  position: fixed;
  top: 0;
  z-index: 999;
}
/* line 486, ../sass/partials/_modules.scss */
.xzh-cart-container .xzh-back-history {
  width: 1.5em;
  float: left;
}
/* line 489, ../sass/partials/_modules.scss */
.xzh-cart-container .xzh-back-history img {
  width: 100%;
}
/* line 493, ../sass/partials/_modules.scss */
.xzh-cart-container .xzh-inner-container {
  padding-bottom: 7em;
  padding-top: 5em;
  position: relative;
  margin-top: 3em;
}
/* line 499, ../sass/partials/_modules.scss */
.xzh-cart-container .xzh-cart-editor {
  float: right;
}
/* line 502, ../sass/partials/_modules.scss */
.xzh-cart-container .xzh-cart-grid-editor {
  position: fixed;
  right: 0;
  top: 5em;
  background-color: #fff;
  width: 100%;
  z-index: 999;
  padding-right: 1em;
  display: none;
}
/* line 515, ../sass/partials/_modules.scss */
.xzh-cart-container .xzh-cart-grid-delete, .xzh-cart-container .xzh-cart-grid-clear {
  float: right;
  width: 4em;
  height: 1.6em;
  line-height: 1.6em;
  text-align: center;
  border-radius: 30px;
  border: 1px solid #f86227;
  margin-left: 1em;
  margin-top: 1em;
}
/* line 529, ../sass/partials/_modules.scss */
.xzh-cart-container .xzh-cart-grid {
  max-height: 11em;
  overflow: hidden;
  padding-bottom: .5em;
  margin-top: 1em;
  border-bottom: 1px solid #b9b9b9;
}
/* line 539, ../sass/partials/_modules.scss */
.xzh-cart-container .xzh-cart-grid-check {
  float: left;
  width: 10%;
  height: 118px;
  line-height: 118px;
  display: block;
}
/* line 545, ../sass/partials/_modules.scss */
.xzh-cart-container .xzh-cart-grid-check img {
  width: 90%;
  vertical-align: middle;
}
/* line 550, ../sass/partials/_modules.scss */
.xzh-cart-container .xzh-cart-grid-img {
  float: left;
  width: 30%;
  margin-left: .5em;
}
/* line 554, ../sass/partials/_modules.scss */
.xzh-cart-container .xzh-cart-grid-img img {
  width: 100%;
}
/* line 558, ../sass/partials/_modules.scss */
.xzh-cart-container .xzh-cart-grid-detail {
  float: left;
  width: 45%;
  margin-left: .5em;
  font-size: .8em;
  padding-top: .5em;
}
/* line 564, ../sass/partials/_modules.scss */
.xzh-cart-container .xzh-cart-grid-detail a {
  color: #000;
}
/* line 568, ../sass/partials/_modules.scss */
.xzh-cart-container .xzh-cart-grid-detail-type {
  margin-top: 1em;
  color: #909090;
}
/* line 572, ../sass/partials/_modules.scss */
.xzh-cart-container .xzh-cart-grid-detail-price {
  margin-top: 1em;
  font-size: 1.5em;
}
/* line 576, ../sass/partials/_modules.scss */
.xzh-cart-container .xzh-cart-grid-num-ctn {
  float: left;
  padding-top: 1.5em;
  color: #909090;
}
/* line 581, ../sass/partials/_modules.scss */
.xzh-cart-container .xzh-cart-grid-detail-num-editor {
  padding-top: 3em;
}
/* line 587, ../sass/partials/_modules.scss */
.xzh-cart-container .xzh-cart-grid-detail-num {
  width: 22px;
  height: 24px;
  text-align: center;
  border: 0;
  float: left;
}
/* line 594, ../sass/partials/_modules.scss */
.xzh-cart-container .xzh-cart-grid-detail-num-editor-min, .xzh-cart-container .xzh-cart-grid-detail-num-editor-plus {
  float: left;
  width: 18px;
  height: 24px;
  background-color: #39bd8c;
  text-align: center;
  color: #fff;
}
/* line 602, ../sass/partials/_modules.scss */
.xzh-cart-container .xzh-cart-grid-detail-num-editor-plus {
  float: right;
}
/* line 606, ../sass/partials/_modules.scss */
.xzh-cart-container .xzh-cart-pay-menue {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 7em;
  background-color: #fff;
}
/* line 613, ../sass/partials/_modules.scss */
.xzh-cart-container .xzh-cart-pay-menue-all-check {
  float: left;
  width: 25%;
  height: 7em;
  line-height: 7em;
  padding-left: 1em;
}
/* line 619, ../sass/partials/_modules.scss */
.xzh-cart-container .xzh-cart-pay-menue-all-check img {
  vertical-align: middle;
  width: 30px;
}
/* line 624, ../sass/partials/_modules.scss */
.xzh-cart-container .xzh-cart-pay-menue-total-price {
  float: left;
  width: 30%;
  padding-top: 1em;
  text-align: right;
  padding-right: 0em;
}
/* line 631, ../sass/partials/_modules.scss */
.xzh-cart-container .xzh-cart-pay-menue-total-price-transform {
  text-align: right;
  color: #b9b9b9;
  padding-top: .5em;
}
/* line 636, ../sass/partials/_modules.scss */
.xzh-cart-container .xzh-cart-pay-menue-pay-btn {
  float: right;
  width: 34%;
  height: 100%;
  line-height: 7em;
  text-align: center;
  background-color: #f86227;
  color: #fff;
}

/* line 647, ../sass/partials/_modules.scss */
.xzh-personal-container {
  background-image: linear-gradient(to bottom, #39bd8c 100px, #57d9d7 200px);
  padding-bottom: 57px;
}
/* line 650, ../sass/partials/_modules.scss */
.xzh-personal-container .xzh-personal-header-img {
  width: 28%;
  margin: 0 auto;
  margin-top: 2em;
}
/* line 654, ../sass/partials/_modules.scss */
.xzh-personal-container .xzh-personal-header-img img {
  width: 100%;
}
/* line 658, ../sass/partials/_modules.scss */
.xzh-personal-container .xzh-personal-menue {
  width: 100%;
  margin-top: 5em;
  position: relative;
  background-color: #f9f9f9;
  border-radius: 30px 30px 0 0;
}
/* line 665, ../sass/partials/_modules.scss */
.xzh-personal-container .xzh-personal-menue-top {
  width: 90%;
  height: 6em;
  border-radius: 25px;
  background-color: #fff;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  top: -3em;
  overflow: hidden;
  box-shadow: 0 0 3px 3px #dddddd;
  padding-top: 1em;
}
/* line 681, ../sass/partials/_modules.scss */
.xzh-personal-container .xzh-personal-menue-top-grid {
  display: block;
  color: #000;
  width: 32%;
  float: left;
  text-align: center;
}
/* line 687, ../sass/partials/_modules.scss */
.xzh-personal-container .xzh-personal-menue-top-grid img {
  width: 40%;
}
/* line 691, ../sass/partials/_modules.scss */
.xzh-personal-container .xzh-personal-menue-top-grid + .xzh-personal-menue-top-grid {
  border-left: 1px solid #ececec;
}
/* line 694, ../sass/partials/_modules.scss */
.xzh-personal-container .xzh-personal-menue-middle {
  background-color: #fff;
  margin-top: -1em;
  padding-bottom: 1em;
}
/* line 702, ../sass/partials/_modules.scss */
.xzh-personal-container .xzh-personal-menue-middle-top {
  height: 4em;
  padding-left: 1em;
  padding-right: 1em;
  border-bottom: 1px solid #ececec;
}
/* line 711, ../sass/partials/_modules.scss */
.xzh-personal-container .xzh-personal-menue-middle-title {
  height: 4em;
  line-height: 4em;
  float: left;
}
/* line 715, ../sass/partials/_modules.scss */
.xzh-personal-container .xzh-personal-menue-middle-title img {
  vertical-align: middle;
  width: 1.2em;
}
/* line 720, ../sass/partials/_modules.scss */
.xzh-personal-container .xzh-personal-menue-middle-title-link {
  display: block;
  height: 4em;
  line-height: 4em;
  float: right;
  color: #909090;
}
/* line 727, ../sass/partials/_modules.scss */
.xzh-personal-container .xzh-personal-menue-middle-grid {
  width: 20%;
  display: block;
  float: left;
  overflow: hidden;
  text-align: center;
  margin-top: 1em;
  position: relative;
  color: #000;
}
/* line 736, ../sass/partials/_modules.scss */
.xzh-personal-container .xzh-personal-menue-middle-grid img {
  width: 55%;
}
/* line 740, ../sass/partials/_modules.scss */
.xzh-personal-container .xzh-personal-menue-middle-grid-txt {
  margin-top: .3em;
}
/* line 743, ../sass/partials/_modules.scss */
.xzh-personal-container .xzh-personal-menue-middle-grid-tip {
  display: block;
  min-width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  border-radius: 50%;
  background-color: #fa0029;
  position: absolute;
  top: 0;
  right: .3em;
  color: #fff;
}
/* line 755, ../sass/partials/_modules.scss */
.xzh-personal-container .xzh-personal-menue-bottom {
  margin-top: 1em;
  width: 100%;
  background-color: #fff;
}
/* line 760, ../sass/partials/_modules.scss */
.xzh-personal-container .xzh-personal-menue-bottom-grid {
  display: block;
  border-bottom: 1px solid #b9b9b9;
  padding: 1em;
}
/* line 768, ../sass/partials/_modules.scss */
.xzh-personal-container .xzh-personal-menue-bottom-grid-title, .xzh-personal-container .xzh-personal-menue-bottom-grid-arrow {
  display: block;
  height: 2.5em;
  line-height: 2.5em;
  float: left;
  color: #000;
}
/* line 774, ../sass/partials/_modules.scss */
.xzh-personal-container .xzh-personal-menue-bottom-grid-title img, .xzh-personal-container .xzh-personal-menue-bottom-grid-arrow img {
  width: 1.5em;
  vertical-align: middle;
}
/* line 782, ../sass/partials/_modules.scss */
.xzh-personal-container .xzh-personal-menue-bottom-grid-arrow {
  float: right;
}

/* line 788, ../sass/partials/_modules.scss */
.xzh-mall-container {
  padding-bottom: 5em;
}
/* line 795, ../sass/partials/_modules.scss */
.xzh-mall-container .xzh-mall-menue-btn, .xzh-mall-container .xzh-mall-cart-btn {
  display: block;
  padding-left: .5em;
  float: left;
  padding-top: .2em;
}
/* line 800, ../sass/partials/_modules.scss */
.xzh-mall-container .xzh-mall-menue-btn img, .xzh-mall-container .xzh-mall-cart-btn img {
  width: 1.5em;
}
/* line 807, ../sass/partials/_modules.scss */
.xzh-mall-container .xzh-mall-cart-btn {
  padding-right: .5em;
  float: right;
}
/* line 812, ../sass/partials/_modules.scss */
.xzh-mall-container .xzh-mall-top-middle {
  width: 60%;
  height: 2em;
  float: left;
  margin-left: 2em;
  background-color: #fff;
  border-radius: 30px;
  overflow: hidden;
  border: 1px solid #c3c3c3;
}
/* line 822, ../sass/partials/_modules.scss */
.xzh-mall-container .xzh-mall-top-input-icon {
  float: left;
  padding-left: .2em;
  padding-top: .2em;
}
/* line 827, ../sass/partials/_modules.scss */
.xzh-mall-container .xzh-mall-top-input {
  width: 70%;
  height: 2em;
  border: 0;
  outline: 0;
}
/* line 833, ../sass/partials/_modules.scss */
.xzh-mall-container .xzh-mall-banner {
  width: 90%;
  overflow: hidden;
  position: relative;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 20px;
}
/* line 842, ../sass/partials/_modules.scss */
.xzh-mall-container .xzh-mall-banner .swiper-slide img {
  width: 100%;
}
/* line 847, ../sass/partials/_modules.scss */
.xzh-mall-container .xzh-mall-menue-ctn {
  padding-top: .5em;
}
/* line 853, ../sass/partials/_modules.scss */
.xzh-mall-container .xzh-mall-menue-grid {
  width: 20%;
  float: left;
  padding: .5em;
  overflow: hidden;
  color: #b9b9b9;
}
/* line 861, ../sass/partials/_modules.scss */
.xzh-mall-container .xzh-mall-menue-grid-img img {
  width: 100%;
}
/* line 865, ../sass/partials/_modules.scss */
.xzh-mall-container .xzh-mall-menue-grid-txt {
  font-size: .7em;
  text-align: center;
}
/* line 869, ../sass/partials/_modules.scss */
.xzh-mall-container .xzh-mall-adv {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 1em;
}
/* line 874, ../sass/partials/_modules.scss */
.xzh-mall-container .xzh-mall-adv img {
  width: 100%;
}
/* line 878, ../sass/partials/_modules.scss */
.xzh-mall-container .xzh-mall-recommend {
  margin-top: .5em;
}
/* line 881, ../sass/partials/_modules.scss */
.xzh-mall-container .xzh-mall-recommend-title {
  text-align: center;
  height: 3em;
  line-height: 3em;
  color: #f86227;
}
/* line 887, ../sass/partials/_modules.scss */
.xzh-mall-container .xzh-mall-recommend-title-icon {
  width: 2em;
  vertical-align: middle;
}
/* line 891, ../sass/partials/_modules.scss */
.xzh-mall-container .xzh-mall-recommend-title-txt {
  font-size: 1.2em;
  font-weight: bold;
}
/* line 895, ../sass/partials/_modules.scss */
.xzh-mall-container .xzh-mall-recommend-title-link {
  float: right;
  color: #909090;
  font-size: 1.2em;
}
/* line 900, ../sass/partials/_modules.scss */
.xzh-mall-container .xzh-mall-recommend-grid {
  width: 48%;
  margin-top: 1em;
  box-shadow: 1px 1px 2px 2px #ececec;
  color: #000;
}
/* line 906, ../sass/partials/_modules.scss */
.xzh-mall-container .xzh-mall-recommend-grid:nth-child(odd) {
  float: right;
}
/* line 909, ../sass/partials/_modules.scss */
.xzh-mall-container .xzh-mall-recommend-grid:nth-child(even) {
  float: left;
}
/* line 912, ../sass/partials/_modules.scss */
.xzh-mall-container .xzh-mall-goods-img {
  display: block;
  width: 100%;
}
/* line 915, ../sass/partials/_modules.scss */
.xzh-mall-container .xzh-mall-goods-img img {
  width: 100%;
}
/* line 919, ../sass/partials/_modules.scss */
.xzh-mall-container .xzh-mall-goods-title {
  text-align: center;
}
/* line 922, ../sass/partials/_modules.scss */
.xzh-mall-container .xzh-mall-goods-price {
  margin-top: .3em;
}
/* line 928, ../sass/partials/_modules.scss */
.xzh-mall-container .xzh-mall-goods-price-cart {
  float: left;
}
/* line 930, ../sass/partials/_modules.scss */
.xzh-mall-container .xzh-mall-goods-price-cart img {
  width: 2em;
}
/* line 934, ../sass/partials/_modules.scss */
.xzh-mall-container .xzh-mall-goods-price-num {
  float: right;
  color: #fa0029;
  font-size: 1.1em;
}

/* line 941, ../sass/partials/_modules.scss */
.xzh-menue-cabinet {
  background-image: url('../images/menue_cabinet_bg.png?1524115899');
  background-size: cover;
}
/* line 949, ../sass/partials/_modules.scss */
.xzh-menue-cabinet .xzh-menue-cabinet-add-btn {
  float: right;
  height: 3em;
  line-height: 3em;
  padding-right: .5em;
}
/* line 954, ../sass/partials/_modules.scss */
.xzh-menue-cabinet .xzh-menue-cabinet-add-btn img {
  vertical-align: middle;
  width: 2em;
}
/* line 959, ../sass/partials/_modules.scss */
.xzh-menue-cabinet .xzh-menue-cabinet-weather {
  padding-left: 3em;
  color: #fff;
}
/* line 963, ../sass/partials/_modules.scss */
.xzh-menue-cabinet .xzh-menue-cabinet-weather-degree {
  margin-top: .5em;
}
/* line 969, ../sass/partials/_modules.scss */
.xzh-menue-cabinet .xzh-menue-cabinet-weather-degree-left {
  float: left;
  font-size: 2em;
  border-right: 1px solid #fff;
  padding-right: .3em;
  margin-right: .3em;
}
/* line 976, ../sass/partials/_modules.scss */
.xzh-menue-cabinet .xzh-menue-cabinet-weather-degree-right {
  float: left;
}
/* line 979, ../sass/partials/_modules.scss */
.xzh-menue-cabinet .xzh-menue-cabinet-weather-detail {
  font-size: .8em;
}
/* line 985, ../sass/partials/_modules.scss */
.xzh-menue-cabinet .xzh-menue-cabinet-weather-detail-left {
  border-right: 1px solid #fff;
  padding-right: .5em;
  margin-right: .4em;
  float: left;
}
/* line 991, ../sass/partials/_modules.scss */
.xzh-menue-cabinet .xzh-menue-cabinet-weather-detail-right {
  float: left;
}
/* line 994, ../sass/partials/_modules.scss */
.xzh-menue-cabinet .xzh-menue-cabinet-equipment {
  margin-left: .3em;
  margin-right: .3em;
  margin-top: 3em;
  text-align: center;
}
/* line 1003, ../sass/partials/_modules.scss */
.xzh-menue-cabinet .xzh-menue-cabinet-equipment-left {
  width: 20%;
  height: 20em;
  margin-top: .3em;
  float: left;
  background-color: #fff;
  position: relative;
}
/* line 1010, ../sass/partials/_modules.scss */
.xzh-menue-cabinet .xzh-menue-cabinet-equipment-left div {
  border-bottom: 1px solid #b9b9b9;
  padding-top: .5em;
  padding-bottom: .5em;
}
/* line 1016, ../sass/partials/_modules.scss */
.xzh-menue-cabinet .xzh-menue-cabinet-equipment-left-top {
  padding-top: .3em;
  padding-bottom: .3em;
  color: #39bd8c;
}
/* line 1020, ../sass/partials/_modules.scss */
.xzh-menue-cabinet .xzh-menue-cabinet-equipment-left-top img {
  width: 2em;
}
/* line 1024, ../sass/partials/_modules.scss */
.xzh-menue-cabinet .xzh-menue-cabinet-equipment-bottom {
  position: absolute;
  bottom: 1em;
  left: 0;
  width: 100%;
  text-align: center;
  display: block;
}
/* line 1032, ../sass/partials/_modules.scss */
.xzh-menue-cabinet .xzh-menue-cabinet-equipment-right {
  width: 75%;
  height: 22em;
  overflow-y: scroll;
}
/* line 1036, ../sass/partials/_modules.scss */
.xzh-menue-cabinet .xzh-menue-cabinet-equipment-right:-webkit-scrollbar {
  display: none;
}
/* line 1040, ../sass/partials/_modules.scss */
.xzh-menue-cabinet .xzh-menue-cabinet-equipment-right-grid {
  width: 48%;
  height: 3.8em;
  line-height: 3.8em;
  color: #000;
  background-color: #fff;
  float: left;
  margin-left: .3em;
  margin-top: .3em;
}

/* line 1052, ../sass/partials/_modules.scss */
.xzh-cabinet-add-container {
  background-color: #39bd8c;
}
/* line 1054, ../sass/partials/_modules.scss */
.xzh-cabinet-add-container .xzh-back-history {
  width: 1.5em;
  float: left;
}
/* line 1057, ../sass/partials/_modules.scss */
.xzh-cabinet-add-container .xzh-back-history img {
  width: 100%;
}
/* line 1061, ../sass/partials/_modules.scss */
.xzh-cabinet-add-container .xzh-cabinet-add-equipment-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 24em;
  overflow-y: scroll;
}
/* line 1067, ../sass/partials/_modules.scss */
.xzh-cabinet-add-container .xzh-cabinet-add-equipment-list:-webkit-scrollbar {
  display: none;
}
/* line 1071, ../sass/partials/_modules.scss */
.xzh-cabinet-add-container .xzh-cabinet-add-equipment-grid {
  width: 48%;
  height: 4em;
  margin-top: .3em;
  line-height: 4em;
  text-align: center;
  background-color: #fff;
  color: #000;
}
/* line 1080, ../sass/partials/_modules.scss */
.xzh-cabinet-add-container .xzh-cabinet-add-equipment-scan {
  width: 100%;
  height: 8em;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  border-top: 1px solid #b9b9b9;
  padding-top: 1em;
  text-align: center;
}
/* line 1091, ../sass/partials/_modules.scss */
.xzh-cabinet-add-container .xzh-cabinet-add-equipment-scan-btn img {
  width: 3em;
}

/* line 1098, ../sass/partials/_modules.scss */
.xzh-cabinet-eqp-container .xzh-back-history {
  width: 1.5em;
  float: left;
}
/* line 1101, ../sass/partials/_modules.scss */
.xzh-cabinet-eqp-container .xzh-back-history img {
  width: 100%;
}
/* line 1105, ../sass/partials/_modules.scss */
.xzh-cabinet-eqp-container .xzh-cabinet-eqp-open-cabinet {
  margin-top: 4em;
  text-align: center;
}
/* line 1108, ../sass/partials/_modules.scss */
.xzh-cabinet-eqp-container .xzh-cabinet-eqp-open-cabinet img {
  width: 8em;
}
/* line 1112, ../sass/partials/_modules.scss */
.xzh-cabinet-eqp-container .xzh-cabinet-eqp-open-bed {
  margin-top: 4em;
  text-align: center;
}
/* line 1115, ../sass/partials/_modules.scss */
.xzh-cabinet-eqp-container .xzh-cabinet-eqp-open-bed img {
  width: 8em;
}

/* line 1121, ../sass/partials/_modules.scss */
.xzh-delivery-address-ctn {
  background-color: #b9b9b9;
}
/* line 1123, ../sass/partials/_modules.scss */
.xzh-delivery-address-ctn .xzh-delivery-address-grid {
  margin-top: 2em;
  background-color: #fff;
  padding: .5em;
  padding-top: 1em;
}
/* line 1132, ../sass/partials/_modules.scss */
.xzh-delivery-address-ctn .xzh-delivery-address-detail {
  margin-top: 1em;
}
/* line 1138, ../sass/partials/_modules.scss */
.xzh-delivery-address-ctn .xzh-delivery-address-detail-type {
  float: left;
  width: 15%;
}
/* line 1142, ../sass/partials/_modules.scss */
.xzh-delivery-address-ctn .xzh-delivery-address-detail-content {
  float: left;
  width: 78%;
}
/* line 1146, ../sass/partials/_modules.scss */
.xzh-delivery-address-ctn .xzh-delivery-address-time {
  margin-top: 1em;
  border-bottom: 1px solid #b9b9b9;
}
/* line 1150, ../sass/partials/_modules.scss */
.xzh-delivery-address-ctn .xzh-delivery-address-editor {
  margin-top: 1em;
  float: right;
}
/* line 1157, ../sass/partials/_modules.scss */
.xzh-delivery-address-ctn .xzh-delivery-address-editor-del, .xzh-delivery-address-ctn .xzh-delivery-address-editor-change {
  float: left;
  width: 4em;
  margin-left: .5em;
}

/* line 1167, ../sass/partials/_modules.scss */
.xzh-balance-ctn {
  background-color: #fff;
}
/* line 1169, ../sass/partials/_modules.scss */
.xzh-balance-ctn .xzh-balance-icon {
  margin-top: 2em;
  text-align: center;
}
/* line 1173, ../sass/partials/_modules.scss */
.xzh-balance-ctn .xzh-balance-icon-txt {
  text-align: center;
}
/* line 1176, ../sass/partials/_modules.scss */
.xzh-balance-ctn .xzh-balance-money {
  text-align: center;
  font-size: 2.6em;
}
/* line 1180, ../sass/partials/_modules.scss */
.xzh-balance-ctn .xzh-balance-recharge {
  margin-top: 2em;
}
/* line 1184, ../sass/partials/_modules.scss */
.xzh-balance-ctn .xzh-balance-cash {
  margin-top: 2em;
  background-image: linear-gradient(to right, #ffffff 100px, #ffffff 200px);
  border: 1px solid #39bd8c;
  color: #000;
}

/* line 1193, ../sass/partials/_modules.scss */
.xzh-notification-ctn .xzh-notification-grid {
  background-color: #fff;
  border-bottom: 1px solid lightgray;
  padding: .5em;
}
/* line 1201, ../sass/partials/_modules.scss */
.xzh-notification-ctn .xzh-notification-img {
  float: left;
}
/* line 1203, ../sass/partials/_modules.scss */
.xzh-notification-ctn .xzh-notification-img img {
  width: 4em;
}
/* line 1207, ../sass/partials/_modules.scss */
.xzh-notification-ctn .xzh-notification-content {
  float: left;
  margin-left: .5em;
}
/* line 1210, ../sass/partials/_modules.scss */
.xzh-notification-ctn .xzh-notification-content .xzh-notification-title {
  font-size: 1.1em;
}
/* line 1213, ../sass/partials/_modules.scss */
.xzh-notification-ctn .xzh-notification-content .xzh-notification-detail {
  color: #b9b9b9;
  margin-top: 1em;
}
/* line 1218, ../sass/partials/_modules.scss */
.xzh-notification-ctn .xzh-notification-time {
  float: right;
  color: #b9b9b9;
  font-size: .8em;
}

/* line 1225, ../sass/partials/_modules.scss */
.xzh-feedback-ctn {
  width: 100%;
  overflow: hidden;
}
/* line 1228, ../sass/partials/_modules.scss */
.xzh-feedback-ctn .xzh-feedback-tip {
  margin-top: 1em;
  color: #b9b9b9;
  text-indent: 1em;
}
/* line 1233, ../sass/partials/_modules.scss */
.xzh-feedback-ctn .xzh-feedback-form-wrap {
  padding: 1em;
}
/* line 1236, ../sass/partials/_modules.scss */
.xzh-feedback-ctn .xzh-feedback-form {
  position: relative;
}
/* line 1238, ../sass/partials/_modules.scss */
.xzh-feedback-ctn .xzh-feedback-form legend {
  display: none;
}
/* line 1242, ../sass/partials/_modules.scss */
.xzh-feedback-ctn .xzh-feedback-border {
  border: 1px solid #b9b9b9;
}
/* line 1244, ../sass/partials/_modules.scss */
.xzh-feedback-ctn .xzh-feedback-border textarea {
  width: 100%;
  border: 0;
}
/* line 1249, ../sass/partials/_modules.scss */
.xzh-feedback-ctn .xzh-feedback-submit {
  border: none;
}

/* line 1256, ../sass/partials/_modules.scss */
.xzh-personal-information-ctn .xzh-personal-information-top {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #b9b9b9;
}
/* line 1261, ../sass/partials/_modules.scss */
.xzh-personal-information-ctn .xzh-personal-information-grid {
  background-color: #fff;
  padding-left: .5em;
  border-bottom: 1px solid #b9b9b9;
}
/* line 1269, ../sass/partials/_modules.scss */
.xzh-personal-information-ctn .xzh-personal-information-grid-left {
  float: left;
  height: 3.8em;
  line-height: 3.8em;
}
/* line 1274, ../sass/partials/_modules.scss */
.xzh-personal-information-ctn .xzh-personal-information-grid-right {
  float: right;
  height: 3.8em;
  line-height: 3.8em;
}
/* line 1278, ../sass/partials/_modules.scss */
.xzh-personal-information-ctn .xzh-personal-information-grid-right img {
  width: 3em;
  vertical-align: middle;
}

/* line 1284, ../sass/partials/_modules.scss */
.xzh-personal-information-camera, .xzh-personal-information-local {
  text-align: center;
  font-size: 1.2em;
  color: #39bd8c;
}

/* line 1289, ../sass/partials/_modules.scss */
.xzh-personal-information-local {
  padding-top: 1em;
}

/* line 1293, ../sass/partials/_modules.scss */
.xzh-personal-information-input {
  width: 100%;
  height: 3em;
  line-height: 3em;
  border: 1px solid #39bd8c;
  border-radius: 30px;
  text-indent: 1em;
}
/* line 1300, ../sass/partials/_modules.scss */
.xzh-personal-information-input input {
  width: 10em;
  border: 0;
}

/* line 1305, ../sass/partials/_modules.scss */
.xzh-personal-information-confirm {
  width: 100%;
  height: 2.6em;
  line-height: 2.6em;
  background-color: #f86227;
  text-align: center;
  margin-top: 1em;
  color: #fff;
  border-radius: 30px;
}

/* line 1316, ../sass/partials/_modules.scss */
.xzh-personal-orders-ctn {
  background-color: #b9b9b9;
}
/* line 1318, ../sass/partials/_modules.scss */
.xzh-personal-orders-ctn .xzh-personal-orders-menue-wrap {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #fff;
}
/* line 1324, ../sass/partials/_modules.scss */
.xzh-personal-orders-ctn .xzh-personal-orders-menue-grid {
  width: 19%;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
  color: #b9b9b9;
  background-color: #fff;
}
/* line 1332, ../sass/partials/_modules.scss */
.xzh-personal-orders-ctn .xzh-personal-orders-menue-grid-active {
  box-shadow: inset 0 -0.2em 0px #f86227;
}
/* line 1335, ../sass/partials/_modules.scss */
.xzh-personal-orders-ctn .xzh-personal-orders-type-ctn {
  width: 100%;
  overflow: hidden;
}
/* line 1339, ../sass/partials/_modules.scss */
.xzh-personal-orders-ctn .xzh-personal-orders-grid {
  background-color: #fff;
  width: 95%;
  margin: 0 auto;
  margin-top: 1em;
  padding: .5em;
}
/* line 1354, ../sass/partials/_modules.scss */
.xzh-personal-orders-ctn .xzh-personal-orders-grid-img {
  float: left;
}
/* line 1356, ../sass/partials/_modules.scss */
.xzh-personal-orders-ctn .xzh-personal-orders-grid-img img {
  width: 6em;
}
/* line 1360, ../sass/partials/_modules.scss */
.xzh-personal-orders-ctn .xzh-personal-orders-grid-detail {
  float: right;
  width: 70%;
}
/* line 1367, ../sass/partials/_modules.scss */
.xzh-personal-orders-ctn .xzh-personal-orders-grid-detail-left {
  width: 65%;
  float: left;
}
/* line 1371, ../sass/partials/_modules.scss */
.xzh-personal-orders-ctn .xzh-personal-orders-grid-detail-tag {
  color: #b9b9b9;
  font-size: .8em;
}
/* line 1375, ../sass/partials/_modules.scss */
.xzh-personal-orders-ctn .xzh-personal-orders-grid-detail-right {
  float: right;
  text-align: right;
  width: 34%;
}
/* line 1379, ../sass/partials/_modules.scss */
.xzh-personal-orders-ctn .xzh-personal-orders-grid-detail-right .xzh-personal-orders-grid-detail-nums {
  margin-top: 1em;
  color: #b9b9b9;
}
/* line 1389, ../sass/partials/_modules.scss */
.xzh-personal-orders-ctn .xzh-personal-orders-grid-state {
  float: left;
  color: #f86227;
}
/* line 1393, ../sass/partials/_modules.scss */
.xzh-personal-orders-ctn .xzh-personal-orders-grid-detail-total-price {
  float: right;
}
/* line 1396, ../sass/partials/_modules.scss */
.xzh-personal-orders-ctn .xzh-personal-orders-grid-bottom {
  margin-top: .5em;
  text-align: right;
}

/* line 1405, ../sass/partials/_modules.scss */
.xzh-goods-detail-ctn .xzh-goods-detail-banner img {
  width: 100%;
}

/* line 1411, ../sass/partials/_modules.scss */
.xzh-goods-type-ctn {
  background-color: #ececec;
}
/* line 1413, ../sass/partials/_modules.scss */
.xzh-goods-type-ctn .xzh-top-title {
  position: fixed;
  z-index: 999;
}
/* line 1417, ../sass/partials/_modules.scss */
.xzh-goods-type-ctn .xzh-goods-type-content {
  position: relative;
  padding-top: 4.7em;
}
/* line 1424, ../sass/partials/_modules.scss */
.xzh-goods-type-ctn .xzh-goods-type-content-left {
  position: fixed;
  background-color: #fff;
  width: 25%;
  padding-bottom: 5em;
}
/* line 1430, ../sass/partials/_modules.scss */
.xzh-goods-type-ctn .xzh-goods-type-content-left-li {
  width: 100%;
  height: 3em;
  line-height: 3em;
  text-align: center;
}
/* line 1436, ../sass/partials/_modules.scss */
.xzh-goods-type-ctn .xzh-goods-type-content-right {
  width: 72%;
  float: right;
  padding-bottom: 1em;
}
/* line 1444, ../sass/partials/_modules.scss */
.xzh-goods-type-ctn .xzh-goods-type-grid {
  width: 48%;
  margin-top: .3em;
  margin-right: .3em;
  background-color: #fff;
  float: left;
}
/* line 1452, ../sass/partials/_modules.scss */
.xzh-goods-type-ctn .xzh-goods-type-grid-img img {
  width: 100%;
}
/* line 1456, ../sass/partials/_modules.scss */
.xzh-goods-type-ctn .xzh-goods-type-grid-title {
  font-size: .8em;
  padding: .3em;
  color: #b9b9b9;
}
/* line 1461, ../sass/partials/_modules.scss */
.xzh-goods-type-ctn .xzh-goods-type-grid-price {
  padding: .3em;
}
/* line 1467, ../sass/partials/_modules.scss */
.xzh-goods-type-ctn .xzh-goods-type-grid-price-left {
  float: left;
}
/* line 1469, ../sass/partials/_modules.scss */
.xzh-goods-type-ctn .xzh-goods-type-grid-price-left img {
  width: 1em;
}
/* line 1473, ../sass/partials/_modules.scss */
.xzh-goods-type-ctn .xzh-goods-type-grid-price-right {
  float: right;
  color: #fa0029;
}

/* line 1480, ../sass/partials/_modules.scss */
.xzh-mall-product-list-ctn .xzh-mall-product-list {
  padding: .8em;
}
/* line 1483, ../sass/partials/_modules.scss */
.xzh-mall-product-list-ctn .xzh-mall-product-grid {
  width: 48%;
  margin-top: 1em;
  box-shadow: 1px 1px 2px 2px #ececec;
  color: #000;
}
/* line 1489, ../sass/partials/_modules.scss */
.xzh-mall-product-list-ctn .xzh-mall-product-grid:nth-child(odd) {
  float: left;
}
/* line 1492, ../sass/partials/_modules.scss */
.xzh-mall-product-list-ctn .xzh-mall-product-grid:nth-child(even) {
  float: right;
}
/* line 1496, ../sass/partials/_modules.scss */
.xzh-mall-product-list-ctn .xzh-mall-product-img img {
  width: 100%;
}
/* line 1500, ../sass/partials/_modules.scss */
.xzh-mall-product-list-ctn .xzh-mall-product-title {
  text-align: center;
}
/* line 1503, ../sass/partials/_modules.scss */
.xzh-mall-product-list-ctn .xzh-mall-product-price {
  padding: .3em;
}
/* line 1509, ../sass/partials/_modules.scss */
.xzh-mall-product-list-ctn .xzh-mall-product-price-cart {
  float: left;
}
/* line 1511, ../sass/partials/_modules.scss */
.xzh-mall-product-list-ctn .xzh-mall-product-price-cart img {
  width: 1.5em;
}
/* line 1515, ../sass/partials/_modules.scss */
.xzh-mall-product-list-ctn .xzh-mall-product-price-num {
  float: right;
  color: #fa0029;
  font-size: 1.1em;
}
