.xzh-reg-container{
	width:100%;
	background-image:image-url('regist_bg.png');
	background-repeat:no-repeat;
	background-size:contain;
	padding-top:4em;
	.xzh-inner-container{
		
	}
	.xzh-reg-logo{
		width:38%;
		text-align:center;
		margin-left:auto;
		margin-right:auto;
		img{
			width:100%;
		}
	}
	.xzh-reg-form-ctn{
		legend{
			display:none;
		}
		input{
			border:0;
			height:2.8em;
			outline:0;
			width:65%;
			padding-left:1em;
		}
		.xzh-reg-input-icon{
			width:2em;
			height:2em;
			float:left;
			background-repeat:no-repeat;
			background-size:cover;
			margin-left:1em;
			margin-top:.5em;
		}
		.xzh-reg-input-icon-phone{
			background-image:image-url('phone_icon.png');
		}
		.xzh-reg-input-icon-pwd{
			background-image:image-url('password_icon.png');
		}
		.xzh-reg-phone{
			@extend %inputstyle;
		}
		.xzh-reg-check{
			@extend %inputstyle;
		}
		.xzh-reg-check-input{
			border-radius:2em 0 0 2em;
		}
		.xzh-send-check-num{
			float:right;
			border-radius:0 2em 2em 0 ;
			background-color: $color1;
			width:34%;
			height:2.9em;
			color:$color2;
			line-height: 3em;
			text-align:center;
		}
		.xzh-reg-password{
			@extend %inputstyle;
		}
		.xzh-reg-service-agree{
			text-align:center;
			color:$color3;
			margin-top:2em;
		}
		a{
			color:$color1;
		}
		.xzh-reg-btn{
			@extend %inputstylebtn;
		}
		.xzh-reg-log{
			color:$color3;
			text-align:center;
			margin-top:1em;
		}
	}
}
.xzh-another-log{
	padding-top:3em;
	.xzh-another-log-title{
		position:relative;
		width:100%;
		height:1px;
		background-color: $color3;
	}
	.xzh-another-log-title-txt{
		position:absolute;
		width:8em;
		text-align:center;
		color:$color3;
		background-color: $color2;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
	}
	.xzh-another-log-icon-ctn{
		width:60%;
		height:10em;
		margin:0 auto;
		margin-top:1em;
		&::after{
			content:"";
			display:table;
			clear:both;
		}
	}
	.xzh-another-log-icon{
		margin-top:1.5em;
		float:left;
	}
	.xzh-another-log-icon+.xzh-another-log-icon{
		float:right;
	}
}
.xzh-login-container{
	width:100%;
	background-image:image-url('regist_bg.png');
	background-repeat:no-repeat;
	background-size:cover;
	padding-top:4em;
	.xzh-log-logo{
		width:38%;
		text-align:center;
		margin-left:auto;
		margin-right:auto;
		img{
			width:100%;
		}
	}
	.xzh-log-form-ctn{
		legend{
			display:none;
		}
		input{
			border:0;
			height:2.8em;
			outline:0;
			width:65%;
			padding-left:1em;
		}
		a{
			color:$color3;
		}
		.xzh-log-input-icon{
			width:2em;
			height:2em;
			float:left;
			background-repeat:no-repeat;
			background-size:cover;
			margin-left:1em;
			margin-top:.5em;
		}
		.xzh-log-input-icon-phone{
			background-image:image-url('phone_icon.png');
		}
		.xzh-log-input-icon-pwd{
			background-image:image-url('password_icon.png');
		}
		.xzh-log-phone{
			@extend %inputstyle;
		}
		.xzh-log-password{
			@extend %inputstyle;
		}
		.xzh-log-btn{
			@extend %inputstylebtn;
			margin-top:60px;
		}
		.xzh-log-forget-pwd{
			text-align:center;
			color:$color3;
			margin-top:2em;
		}
	}
}
.xzh-bail-container{
	padding-bottom:5em;
	.xzh-bail-top{
		width:100%;
		height:14em;
		background-image:linear-gradient(bottom, $color4 100px, $color1 200px);
		padding-top:3em;
	}
	.xzh-bail-top-txt{
		color:$color2;
		text-align:center;
		font-size:.9em;
	}
	.xzh-bail-top-num-ctn{
		margin:0 auto;
		margin-top:1em;
		color:$color2;
		text-align:center;
		&::after{
			content:"";
			display:table;
			clear:both;
		}
	}
	.xzh-bail-top-num{
	
		font-size:3em;
		font-weight:bold;
	}
	.xzh-bail-top-num-rmb{
		height:3em;
		padding-top:2em;
	}
	.xzh-bail-top-txt-des{
		margin-top:2em;
	}
	.xzh-bail-pay-ways{
		padding:1.2em;
		border-bottom:1px solid $color6;
		&::after{
			content:"";
			display:table;
			clear:both;
		}
	}
	.xzh-bail-pay-ways-icon{
		float:left;
	}
	.xzh-bail-pay-ways-icon-name{
		float:left;
		margin-left:1em;
		padding-top:.5em;
	}
	.xzh-bail-pay-ways-icon-name-title{
		font-size:1.1em;
		color:$color5;
	}
	.xzh-bail-pay-ways-icon-name-desc{
		font-size:.9em;
		margin-top:.9em;
		color:$color3;
	}
	.xzh-bail-pay-ways-icon-name-check-icon{
		float:right;
		padding-top:.6em;
	}
	.xzh-bail-pay-btn{
		@extend %inputstylebtn;
	}
}