.xzh-reg-container{
	width:100%;
	background-image:image-url('regist_bg.png');
	background-repeat:no-repeat;
	background-size:contain;
	padding-top:4em;
	.xzh-inner-container{
		
	}
	.xzh-reg-logo{
		width:38%;
		text-align:center;
		margin-left:auto;
		margin-right:auto;
		img{
			width:100%;
		}
	}
	.xzh-reg-form-ctn{
		legend{
			display:none;
		}
		input{
			border:0;
			height:2.8em;
			outline:0;
			width:65%;
			padding-left:1em;
		}
		.xzh-reg-input-icon{
			width:2em;
			height:2em;
			float:left;
			background-repeat:no-repeat;
			background-size:cover;
			margin-left:1em;
			margin-top:.5em;
		}
		.xzh-reg-input-icon-phone{
			background-image:image-url('phone_icon.png');
		}
		.xzh-reg-input-icon-pwd{
			background-image:image-url('password_icon.png');
		}
		.xzh-reg-phone{
			@extend %inputstyle;
		}
		.xzh-reg-check{
			@extend %inputstyle;
		}
		.xzh-reg-check-input{
			border-radius:2em 0 0 2em;
		}
		.xzh-send-check-num{
			float:right;
			border-radius:0 2em 2em 0 ;
			background-color: $color1;
			width:34%;
			height:2.9em;
			color:$color2;
			line-height: 3em;
			text-align:center;
		}
		.xzh-reg-password{
			@extend %inputstyle;
		}
		.xzh-reg-service-agree{
			text-align:center;
			color:$color3;
			margin-top:2em;
		}
		a{
			color:$color1;
		}
		.xzh-reg-btn{
			@extend %inputstylebtn;
		}
		.xzh-reg-log{
			color:$color3;
			text-align:center;
			margin-top:1em;
		}
	}
}
.xzh-another-log{
	padding-top:3em;
	.xzh-another-log-title{
		position:relative;
		width:100%;
		height:1px;
		background-color: $color3;
	}
	.xzh-another-log-title-txt{
		position:absolute;
		width:8em;
		text-align:center;
		color:$color3;
		background-color: $color2;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
	}
	.xzh-another-log-icon-ctn{
		width:60%;
		height:10em;
		margin:0 auto;
		margin-top:1em;
		&::after{
			content:"";
			display:table;
			clear:both;
		}
	}
	.xzh-another-log-icon{
		margin-top:1.5em;
		float:left;
	}
	.xzh-another-log-icon+.xzh-another-log-icon{
		float:right;
	}
}
.xzh-login-container{
	width:100%;
	background-image:image-url('regist_bg.png');
	background-repeat:no-repeat;
	background-size:cover;
	padding-top:4em;
	.xzh-log-logo{
		width:38%;
		text-align:center;
		margin-left:auto;
		margin-right:auto;
		img{
			width:100%;
		}
	}
	.xzh-log-form-ctn{
		legend{
			display:none;
		}
		input{
			border:0;
			height:2.8em;
			outline:0;
			width:65%;
			padding-left:1em;
		}
		a{
			color:$color3;
		}
		.xzh-log-input-icon{
			width:2em;
			height:2em;
			float:left;
			background-repeat:no-repeat;
			background-size:cover;
			margin-left:1em;
			margin-top:.5em;
		}
		.xzh-log-input-icon-phone{
			background-image:image-url('phone_icon.png');
		}
		.xzh-log-input-icon-pwd{
			background-image:image-url('password_icon.png');
		}
		.xzh-log-phone{
			@extend %inputstyle;
		}
		.xzh-log-password{
			@extend %inputstyle;
		}
		.xzh-log-btn{
			@extend %inputstylebtn;
			margin-top:60px;
		}
		.xzh-log-forget-pwd{
			text-align:center;
			color:$color3;
			margin-top:2em;
		}
	}
}
.xzh-bail-container{
	padding-bottom:5em;
	.xzh-bail-top{
		width:100%;
		height:14em;
		background-image:linear-gradient(bottom, $color4 100px, $color1 200px);
		padding-top:3em;
	}
	.xzh-bail-top-txt{
		color:$color2;
		text-align:center;
		font-size:.9em;
	}
	.xzh-bail-top-num-ctn{
		margin:0 auto;
		margin-top:1em;
		color:$color2;
		text-align:center;
		&::after{
			content:"";
			display:table;
			clear:both;
		}
	}
	.xzh-bail-top-num{
	
		font-size:3em;
		font-weight:bold;
	}
	.xzh-bail-top-num-rmb{
		height:3em;
		padding-top:2em;
	}
	.xzh-bail-top-txt-des{
		margin-top:2em;
	}
	.xzh-bail-pay-ways{
		padding:1.2em;
		border-bottom:1px solid $color6;
		&::after{
			content:"";
			display:table;
			clear:both;
		}
	}
	.xzh-bail-pay-ways-icon{
		float:left;
	}
	.xzh-bail-pay-ways-icon-name{
		float:left;
		margin-left:1em;
		padding-top:.5em;
	}
	.xzh-bail-pay-ways-icon-name-title{
		font-size:1.1em;
		color:$color5;
	}
	.xzh-bail-pay-ways-icon-name-desc{
		font-size:.9em;
		margin-top:.9em;
		color:$color3;
	}
	.xzh-bail-pay-ways-icon-name-check-icon{
		float:right;
		padding-top:.6em;
	}
	.xzh-bail-pay-btn{
		@extend %inputstylebtn;
	}
}
.xzh-my-cabinet{
	padding-bottom:5em;
	.xzh-cabinet-grid{
		width:48%;
		float:left;
		margin-top:1em;
		padding-bottom:.5em;
		box-shadow:2px 2px 2px 2px #CCC;
		img{
			width:100%;
		}
		.xzh-cabinet-grid-name-ctn{
			padding:.5em;
			&::after{
				content:"";
				display:table;
				clear:both;
			}
		}
		.xzh-cabinet-grid-name{
			float:left;
		}
		.xzh-cabinet-grid-name-pay{
			float:right;
			width:5em;
			height:1.2em;
			line-height:1.2em;
			background-color: $color1;
			border-radius:30px;
			text-align:center;
			color:$color2;
		}
		.xzh-cabinet-grid-price-ctn{
			padding:.5em;
			&::after{
				@extend %clear;
			}
		}
		.xzh-cabinet-grid-price-market{
			color:$color3;
		}
		.xzh-cabinet-grid-price-current{
			color:$color7;
		}
	}
	.xzh-cabinet-grid:nth-child(even){
		margin-left:.5em;
	}
	.xzh-cabinet-buy-more{
		@extend %inputstylebtn;
		width:80%;
	}
}
.xzh-cabinet-pay-caution{
	width:5em;
	height:5em;
	margin:0 auto;
	background-color: $color8;
	box-shadow:0 0 3px 3px $color9;
	color:$color2;
	text-align:center;
	line-height:5em;
	border-radius:50%;
}
.xzh-cabinet-pay-caution-txt{
	color:$color1;
	margin-top:2em;
	text-align:center;
}

.xzh-used-time-container{
	background-image:linear-gradient(bottom, $color4 100px, $color1 400px);
	padding-bottom:2em;
	.xzh-inner-container{
		padding-top:3em;
		padding-bottom:5em;
	}
	.xzh-used-time-txt{
		width:100%;
		margin:0 auto;
		color:$color2;
		height:3em;
		line-height:3em;
		text-align:center;
		img{
			width:2em;
			vertical-align:middle;
		}
	}
	.xzh-used-time-num{
		margin-top:.5em;
		color:$color2;
		font-size:3em;
		font-weight:bold;
		text-align:center;
	}
	.xzh-used-time-bed-box{
		width:60%;
		height:8em;
		overflow-x:hidden;
		margin:0 auto;
		margin-top:1em;
		position:relative;
		&::after{
			@extend %clear;
		}
	}
	.xzh-used-time-bed-box-left{
		position:absolute;
		top:0;
		left:6%;
		width:68%;
	}
	.xzh-used-time-bed-box-left-arrow{
		text-align:center;
		animation:toLeft 1.5s ease-in-out infinite running 0s both normal;
	}
	@keyframes toLeft{
		0%{
			transform:translateX(0px);
		}
		30%{
			transform:translateX(6px);
		}
		60%{
			transform:translateX(0px);
		}
		90%{
			transform:translateX(-6px);
		}
		100%{
			transform:translateX(0px);
		}

	}
	.xzh-used-time-bed-box-left-bed{
		width:100%;
		height:3em;
		background-color: darken($color4,20%);
		position:relative;
		border-left:2px solid $color2;
		&::before{
			content:"";
			position:absolute;
			width:.8em;
			height:4em;
			top:-.5em;
			left:-.9em;
			background-color: $color2;
		}
		&::after{
			content:"";
			position:absolute;
			width:.8em;
			height:3em;
			top:0;
			right:.5em;
			background-color: $color2;
		}
	}
	.xzh-used-time-bed-box-right{
		position:absolute;
		width:26%;
		right:0;
		&::after{
			@extend %clear;
		}
	}
	.xzh-used-time-bed-box-left-bedstand{
		width:100%;
		height:8em;
		background-color: $color2;
	}
	.xzh-used-time-txt-money{
		font-size:3em;
		font-weight:bold;
		color:$color2;
	}
}

.xzh-pay-money-ctn{
	.xzh-pay-money-bg{
		width:100%;
		margin-top:1.5em;
		background-image:image-url('pay_money_bg.jpg');
		background-size:cover;
		padding-bottom:3em;
	}
	.xzh-pay-money{
		width:90%;
		margin:0 auto;
		padding-top:3em;
	}
	.xzh-pay-money-txt-ctn{
		width:100%;
		height:1px;
		background-color: $color3;
		position:relative;
	}
	.xzh-pay-mony-txt{
		width:8em;
		background-color: $color2;
		position:absolute;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
		text-align:center;
	}
	.xzh-pay-money-num-ctn{
		margin-top:3em;
		text-align:center;
	}
	.xzh-pay-money-num{
		font-size:2.5em;
		font-weight:bold;
	}
	.xzh-pay-money-tip{
		margin-top:1.5em;
		text-align:center;
		color:$color3;
		font-size:.8em;
	}
	.xzh-pay-money-confirm-btn{
		@extend %inputstylebtn;
	}
}

.xzh-cart-container{
	.xzh-back-history{
		width:1.5em;
		float:left;
		img{
			width:100%;
		}
	}
	.xzh-inner-container{
		padding-bottom:7em;
	}
	.xzh-cart-editor{
		float:right;
	}
	.xzh-cart-grid{
		max-height:9em;
		overflow:hidden;
		padding-bottom:.5em;
		margin-top:1em;
		border-bottom:1px solid $color3;
		&::after{
			@extend %clear;
		}
	}
	.xzh-cart-grid-check{
		float:left;
		width:10%;
		height:118px;
		line-height:118px;
		display:none;
		img{
			width:90%;
			vertical-align:middle;
		}
	}
	.xzh-cart-grid-img{
		float:left;
		width:30%;
		margin-left:.5em;
		img{
			width:100%;
		}
	}
	.xzh-cart-grid-detail{
		float:left;
		width:45%;
		margin-left:.5em;
		font-size:.8em;
		padding-top:.5em;
		a{
			color:$color5;
		}
	}
	.xzh-cart-grid-detail-type{
		margin-top:1em;
		color:$color10;
	}
	.xzh-cart-grid-detail-price{
		margin-top:1em;
		font-size:1.5em;
	}
	.xzh-cart-grid-num-ctn{
		float:left;
		padding-top:1.5em;
		color:$color10;
	}
	.xzh-cart-pay-menue{
		position:fixed;
		bottom:0;
		width:100%;
		height:7em;
		background-color: $color2;
	}
	.xzh-cart-pay-menue-all-check{
		float:left;
		width:25%;
		height:7em;
		line-height:7em;
		padding-left:1em;
		img{
			vertical-align:middle;
			width:30px;
		}
	}
	.xzh-cart-pay-menue-total-price{
		float:left;
		width:30%;
		padding-top:1em;
		text-align:right;
		padding-right:0em;
	}
	.xzh-cart-pay-menue-total-price-transform{
		text-align:right;
		color:$color3;
		padding-top:.5em;
	}
	.xzh-cart-pay-menue-pay-btn{
		float:right;
		width:34%;
		height:100%;
		line-height:7em;
		text-align:center;
		background-color: $color8;
		color:$color2;
	}
}

.xzh-personal-container{
	background-image:linear-gradient(top, $color1 100px, $color4 200px);
	padding-bottom:57px;
	.xzh-personal-header-img{
		width:28%;
		margin:0 auto;
		margin-top:2em;
		img{
			width:100%;
		}
	}
	.xzh-personal-menue{
		width:100%;
		margin-top:5em;
		position:relative;
		background-color: $color11;
		border-radius:30px 30px 0 0 ;
	}
	.xzh-personal-menue-top{
		width:90%;
		height:6em;
		border-radius:25px;
		background-color: $color2;
		margin:0 auto;
		overflow:hidden;
		position:relative;
		top:-3em;
		overflow:hidden;
		box-shadow:0 0 3px 3px lighten($color10,30%);
		padding-top:1em;
		&::after{
			@extend %clear;
		}
	}
	.xzh-personal-menue-top-grid{
		display:block;
		color:$color5;
		width:32%;
		float:left;
		text-align:center;
		img{
			width:40%;
		}
	}
	.xzh-personal-menue-top-grid+.xzh-personal-menue-top-grid{
		border-left:1px solid lighten($color3,20%);
	}
	.xzh-personal-menue-middle{
		background-color: $color2;
		margin-top:-1em;
		padding-bottom:1em;
		&::after{
			@extend %clear;
		}
	}
	.xzh-personal-menue-middle-top{
		height:4em;
		padding-left:1em;
		padding-right:1em;
		border-bottom:1px solid lighten($color3,20%);
		&::after{
			@extend %clear;
		}
	}
	.xzh-personal-menue-middle-title{
		height:4em;
		line-height:4em;
		float:left;
		img{
			vertical-align:middle;
			width:1.2em;
		}
	}
	.xzh-personal-menue-middle-title-link{
		display:block;
		height:4em;
		line-height:4em;
		float:right;
		color:$color10;
	}
	.xzh-personal-menue-middle-grid{
		width:20%;
		display:block;
		float:left;
		overflow:hidden;
		text-align:center;
		margin-top:1em;
		position:relative;
		color:$color5;
		img{
			width:55%;
		}
	}
	.xzh-personal-menue-middle-grid-txt{
		margin-top:.3em;
	}
	.xzh-personal-menue-middle-grid-tip{
		display:block;
		min-width:1.5em;
		height:1.5em;
		line-height:1.5em;
		border-radius:50%;
		background-color: $color7;
		position:absolute;
		top:0;
		right:.3em;
		color:$color2;
	}
	.xzh-personal-menue-bottom{
		margin-top:1em;
		width:100%;
		background-color: $color2;
	}
	.xzh-personal-menue-bottom-grid{
		display:block;
		border-bottom:1px solid $color3;
		padding:1em;
		&::after{
			@extend %clear;
		}
	}
	%xzh-personal-menue-bottom-grid-title{
		display:block;
		height:2.5em;
		line-height:2.5em;
		float:left;
		color:$color5;
		img{
			width:1.5em;
			vertical-align:middle;
		}
	}
	.xzh-personal-menue-bottom-grid-title{
		@extend %xzh-personal-menue-bottom-grid-title;
	}
	.xzh-personal-menue-bottom-grid-arrow{
		@extend %xzh-personal-menue-bottom-grid-title;
		float:right;
	}
}

.xzh-mall-container{
	padding-bottom:5em;
	.xzh-top-title{
		&::after{
			@extend %clear;
		}
	}
	%xzh-mall-menue-btn{
		display:block;
		padding-left:.5em;
		float:left;
		padding-top:.2em;
		img{
			width:1.5em;
		}
	}
	.xzh-mall-menue-btn{
		@extend %xzh-mall-menue-btn;
	}
	.xzh-mall-cart-btn{
		@extend %xzh-mall-menue-btn;
		padding-right:.5em;
		float:right;
	}
	.xzh-mall-top-middle{
		width:60%;
		height:2em;
		float:left;
		margin-left:2em;
		background-color: $color2;
		border-radius:30px;
		overflow:hidden;
		border:1px solid lighten($color10,20%);
	}
	.xzh-mall-top-input-icon{
		float:left;
		padding-left:.2em;
		padding-top:.2em;
	}
	.xzh-mall-top-input{
		width:70%;
		height:2em;
		border:0;
		outline:0;
	}
	.xzh-mall-banner{
		width:90%;
		overflow:hidden;
		position:relative;
		margin-top:1em;
		margin-left:1em;
		margin-right:1em;
		border-radius:20px;
		.swiper-slide{
			img{
				width:100%;
			}
		}
	}
	.xzh-mall-menue-ctn{
		padding-top:.5em;
		&::after{
			@extend %clear;
		}
	}
	.xzh-mall-menue-grid{
		width:20%;
		float:left;
		padding:.5em;
		overflow:hidden;
	}
	.xzh-mall-menue-grid-img{
		img{
			width: 100%;
		}
	}
	.xzh-mall-menue-grid-txt{
		font-size:.7em;
		text-align:center;
	}
	.xzh-mall-adv{
		width:100%;
		border-radius:20px;
		overflow:hidden;
		margin-top:1em;
		img{
			width:100%;
		}
	}
	.xzh-mall-recommend{
		margin-top:.5em;
	}
	.xzh-mall-recommend-title{
		text-align:center;
		height:3em;
		line-height:3em;
		color:$color8;
	}
	.xzh-mall-recommend-title-icon{
		width:2em;
		vertical-align:middle;
	}
	.xzh-mall-recommend-title-txt{
		font-size:1.2em;
		font-weight:bold;
	}
	.xzh-mall-recommend-title-link{
		float:right;
		color:$color10;
		font-size:1.2em;
	}
	.xzh-mall-recommend-grid{
		width:48%;
		margin-top:1em;
		box-shadow:1px 1px 2px 2px lighten($color3,20%);
		color:$color5;
	}
	.xzh-mall-recommend-grid:nth-child(odd){
		float:right;
	}
	.xzh-mall-recommend-grid:nth-child(even){
		float:left;
	}
	.xzh-mall-goods-img{
		img{
			width:100%;
		}
	}
	.xzh-mall-goods-title{
		text-align:center;
	}
	.xzh-mall-goods-price{
		margin-top:.3em;
		&::after{
			@extend %clear;
		}
	}
	.xzh-mall-goods-price-cart{
		float:left;
		img{
			width:2em;
		}
	}
	.xzh-mall-goods-price-num{
		float:right;
		color:$color7;
		font-size:1.1em;
	}
}
//菜单柜子
.xzh-menue-cabinet{
	background-image:image-url('menue_cabinet_bg.png');
	background-size: cover;
	.xzh-menue-cabinet-add{
		&:after{
			@extend %clear;
		}
	}
	.xzh-menue-cabinet-add-btn{
		float:right;
		height:3em;
		line-height:3em;
		padding-right:.5em;
		img{
			vertical-align:middle;
			width:2em;
		}
	}
	.xzh-menue-cabinet-weather{
		padding-left:3em;
		color:$color2;
	}
	.xzh-menue-cabinet-weather-degree{
		margin-top:.5em;
		&:after{
			@extend %clear;
		}
	}
	.xzh-menue-cabinet-weather-degree-left{
		float:left;
		font-size:2em;
		border-right:1px solid $color2;
		padding-right:.3em;
		margin-right:.3em;
	}
	.xzh-menue-cabinet-weather-degree-right{
		float:left;
	}
	.xzh-menue-cabinet-weather-detail{
		font-size:.8em;
		&:after{
			@extend %clear;
		}
	}
	.xzh-menue-cabinet-weather-detail-left{
		border-right:1px solid $color2;
		padding-right:.5em;
		margin-right:.4em;
		float:left;
	}
	.xzh-menue-cabinet-weather-detail-right{
		float:left;
	}
	.xzh-menue-cabinet-equipment{
		margin-left:.3em;
		margin-right:.3em;
		margin-top:3em;
		text-align:center;
		&:after{
			@extend %clear;
		}
	}
	.xzh-menue-cabinet-equipment-left{
		width:20%;
		height:20em;
		margin-top:.3em;
		float:left;
		background-color: $color2;
		position:relative;
		div{
			border-bottom:1px solid $color3;
			padding-top:.5em;
			padding-bottom:.5em;
		}
	}
	.xzh-menue-cabinet-equipment-left-top{
		padding-top:.3em;
		padding-bottom:.3em;
		color:$color1;
		img{
			width:2em;
		}
	}
	.xzh-menue-cabinet-equipment-bottom{
		position:absolute;
		bottom:1em;
		left:0;
		width:100%;
		text-align:center;
		display:block;
	}
	.xzh-menue-cabinet-equipment-right{
		width:75%;
		height:22em;
		overflow-y: scroll;
		&:-webkit-scrollbar {
		    display: none;
		}
	}
	.xzh-menue-cabinet-equipment-right-grid{
		width:48%;
		height:3.8em;
		line-height:3.8em;
		color:$color5;
		background-color: $color2;
		float:left;
		margin-left:.3em;
		margin-top:.3em;
	}
}

.xzh-cabinet-add-container{
	background-color: $color1;
	.xzh-back-history{
		width:1.5em;
		float:left;
		img{
			width:100%;
		}
	}
	.xzh-cabinet-add-equipment-list{
		display:flex;
		justify-content:space-around;
		flex-wrap:wrap;
		height:24em;
		overflow-y: scroll;
		&:-webkit-scrollbar {
		    display: none;
		}
	}
	.xzh-cabinet-add-equipment-grid{
		width:48%;
		height:4em;
		margin-top:.3em;
		line-height:4em;
		text-align:center;
		background-color: $color2;
		color:$color5;
	}
	.xzh-cabinet-add-equipment-scan{
		width:100%;
		height:8em;
		position:fixed;
		bottom:0;
		background-color: $color2;
		border-top:1px solid $color3;
		padding-top:1em;
		text-align:center;
	}
	.xzh-cabinet-add-equipment-scan-btn{
		img{
			width:3em;
		}
	}
}

.xzh-cabinet-eqp-container{
	.xzh-back-history{
		width:1.5em;
		float:left;
		img{
			width:100%;
		}
	}
	.xzh-cabinet-eqp-open-cabinet{
		margin-top:4em;
		text-align:center;
		img{
			width:8em;
		}
	}
	.xzh-cabinet-eqp-open-bed{
		margin-top:4em;
		text-align:center;
		img{
			width:8em;
		}
	}
}
//收货地址
.xzh-delivery-address-ctn{
	background-color: $color3;
	.xzh-delivery-address-grid{
		margin-top:2em;
		background-color: $color2;
		padding:.5em;
		padding-top:1em;
		&:after{
			@extend %clear;
		}
	}
	.xzh-delivery-address-detail{
		margin-top:1em;
		&:after{
			@extend %clear;
		}
	}
	.xzh-delivery-address-detail-type{
		float:left;
		width:15%;
	}
	.xzh-delivery-address-detail-content{
		float:left;
		width:78%;
	}
	.xzh-delivery-address-time{
		margin-top:1em;
		border-bottom:1px solid $color3;
	}
	.xzh-delivery-address-editor{
		margin-top:1em;
		float:right;
		&:after{
			@extend %clear;
		}
	}
	.xzh-delivery-address-editor-del{
		float:left;
		width:4em;
		margin-left:.5em;
	}
	.xzh-delivery-address-editor-change{
		@extend .xzh-delivery-address-editor-del;
	}
}
//balance
.xzh-balance-ctn{
	background-color: $color2;
	.xzh-balance-icon{
		margin-top:2em;
		text-align:center;
	}
	.xzh-balance-icon-txt{
		text-align:center;
	}
	.xzh-balance-money{
		text-align:center;
		font-size:2.6em;
	}
	.xzh-balance-recharge{
		@extend %inputstylebtn;
		margin-top:2em;
	}
	.xzh-balance-cash{
		@extend %inputstylebtn;
		margin-top:2em;
		background-image:linear-gradient(left, $color2 100px, $color2 200px);
		border:1px solid $color1;
		color:$color5;
	}
}
.xzh-notification-ctn{
	.xzh-notification-grid{
		background-color: $color2;
		border-bottom:1px solid lighten($color3,10%);
		padding:.5em;
		&:after{
			@extend %clear;
		}
	}
	.xzh-notification-img{
		float:left;
		img{
			width:4em;
		}
	}
	.xzh-notification-content{
		float:left;
		margin-left:.5em;
		.xzh-notification-title{
			font-size:1.1em;
		}
		.xzh-notification-detail{
			color:$color3;
			margin-top:1em;
		}
	}
	.xzh-notification-time{
		float:right;
		color:$color3;
		font-size:.8em;
	}
}
//feedback
.xzh-feedback-ctn{
	width:100%;
	overflow:hidden;
	.xzh-feedback-tip{
		margin-top:1em;
		color:$color3;
		text-indent:1em;
	}
	.xzh-feedback-form-wrap{
		padding:1em;
	}
	.xzh-feedback-form{
		position:relative;
		legend{
			display:none;
		}
	}
	.xzh-feedback-border{
		border:1px solid $color3;
		textarea{
			width:100%;
			border:0;
		}
	}
	.xzh-feedback-submit{
		@extend %inputstylebtn;
		border:none;
	}
}

.xzh-personal-information-ctn{
	.xzh-personal-information-top{
		padding-top:2em;
		padding-bottom:2em;
		background-color: $color3;
	}
	.xzh-personal-information-grid{
		background-color: $color2;
		padding-left:.5em;
		border-bottom:1px solid $color3;
		&:after{
			@extend %clear;
		}
	}
	.xzh-personal-information-grid-left{
		float:left;
		height:3.8em;
		line-height:3.8em;
	}
	.xzh-personal-information-grid-right{
		float:right;
		height:3.8em;
		line-height:3.8em;
		img{
			width:3em;
			vertical-align:middle;
		}
	}
}
.xzh-personal-information-camera{
	text-align:center;
	font-size:1.2em;
	color:$color1;
}
.xzh-personal-information-local{
	padding-top:1em;
	@extend .xzh-personal-information-camera;
}
.xzh-personal-information-input{
	width:100%;
	height:3em;
	line-height:3em;
	border:1px solid $color1;
	border-radius:30px;
	text-indent:1em;
	input{
		width:10em;
		border:0;
	}
}
.xzh-personal-information-confirm{
	width:100%;
	height:2.6em;
	line-height:2.6em;
	background-color: $color8;
	text-align:center;
	margin-top:1em;
	color:$color2;
	border-radius:30px;
}

.xzh-personal-orders-ctn{
	background-color: $color3;
	.xzh-personal-orders-menue-wrap{
		width:100%;
		display:flex;
		justify-content:space-around;
		background-color: $color2;
	}
	.xzh-personal-orders-menue-grid{
		width:19%;
		height:2.5em;
		line-height:2.5em;
		text-align:center;
		color:$color3;
		background-color: $color2;
	}
	.xzh-personal-orders-menue-grid-active{
		box-shadow:inset 0 -.2em 0px $color8;
	}
	.xzh-personal-orders-type-ctn{
		width:100%;
		overflow:hidden;
	}
	.xzh-personal-orders-grid{
		background-color: $color2;
		width:95%;
		margin:0 auto;
		margin-top:1em;
		padding:.5em;
		&:after{
			@extend %clear;
		}
	}
	.xzh-personal-orders-grid-top{
		&:after{
			@extend %clear;
		}
	}
	.xzh-personal-orders-grid-img{
		float:left;
		img{
			width:6em;
		}
	}
	.xzh-personal-orders-grid-detail{
		float:right;
		width:70%;
		&:after{
			@extend %clear;
		}
	}
	.xzh-personal-orders-grid-detail-left{
		width:65%;
		float:left;
	}
	.xzh-personal-orders-grid-detail-tag{
		color:$color3;
		font-size:.8em;
	}
	.xzh-personal-orders-grid-detail-right{
		float:right;
		text-align:right;
		width:34%;
		.xzh-personal-orders-grid-detail-nums{
			margin-top:1em;
			color:$color3;
		}
	}
	.xzh-personal-orders-grid-middle{
		&:after{
			@extend %clear;
		}
	}
	.xzh-personal-orders-grid-state{
		float:left;
		color:$color8;
	}
	.xzh-personal-orders-grid-detail-total-price{
		float:right;
	}
	.xzh-personal-orders-grid-bottom{
		margin-top:.5em;
		text-align:right;
	}

}