@charset 'UTF-8';

$color1:#39bd8c;//输入框边框颜色
$color2:#fff;//白色
$color3:#b9b9b9;//灰色的字体颜色
$color4:#57d9d7;//按钮的渐变起始颜色
$color5:#000;//黑色
$color6:#DCDCDC;//选择支付的边框颜色
$color7:#fa0029;//我的柜子的红色字体颜色
$color8:#f86227;//付款提示框颜色
$color9:lighten($color8,10%);//付款提示框颜色边框